= form_with(model: download, scope: :download, url: downloads_path, method: :post) do |form|
  .row
    .col-8.mb-3
      = form.label :url, class: "form-label"
      = form.text_field :url, type: "url", placeholder: "http://some.url.goes.here", class: "form-control #{"text-danger" if download.errors[:url].any?}", data: { "newDownload-target" => "url", action: "keyup->newDownload#urlChanged" }, autofocus: true
      - if download.errors[:url].any?
        .text-danger=download.errors[:url].join(", ")

  .row.new-download--youtube-audio.d-none(data-newDownload-target="audio")
    .col-1.mb-3
      = form.check_box :youtube_audio, { class: "form-check-input", data: { "newDownload-target" => "youtubeAudio", action: "change->newDownload#audioChanged" } }, true, false
      = form.label :youtube_audio, "Audio", class: "form-check-label"
    .col-4.mb-3
      = form.label :youtube_audio_format, "Audio Format", class: "form-label pr-2"
      = form.select :youtube_audio_format, Download::AUDIO_FORMATS, {}, { data: { "newDownload-target" => "audioFormat" }, disabled: true, class: "form-select"}

  .row.d-none(data-newDownload-target="sub")
    .col-1.mb-3
      = form.check_box :youtube_subs, { class: "form-check-input", data: { "newDownload-target" => "youtubeSub", action: "change->newDownload#subChanged" } }
      = form.label :youtube_subs, "Subtitles", class: "form-check-label"
    .col-2.mb-3
      = form.check_box :youtube_srt_subs, { data: { "newDownload-target" => "srtSub" }, disabled: true, class: "form-check-input" }
      = form.label :youtube_srt_subs, "SRT Subtitles", class: "form-check-label"

  .row
    .col-2.mb-3
      = form.label :filter_preset, class: "form-label pr-2"
      = form.select :filter_preset, Download::FILTER_PRESETS, { include_blank: true }, { class: "form-select" }
    .col-4.mb-3
      = form.label :filter, class: "form-label"
      = form.text_field :filter, class: "form-control"

  .row
    .col-12.mb-3
      = form.submit "Create", class: "btn btn-primary"
      