%table.w-full
  %thead.border-b-2.border-emerald-500
    %tr
      %th.w-16
      %th URL
      - if queued_view?
        %th
          .flex.justify-center
            = render IconComponent.new(name: :queued, size: 4)
      - if started_view?
        %th
          .flex.justify-center
            = render IconComponent.new(name: :started, size: 4)
      - if finished_view?
        %th
          .flex.justify-center
            = render IconComponent.new(name: :failed, size: 4)
      - if cancelled_view?
        %th
          .flex.justify-center
            = render IconComponent.new(name: :cancelled, size: 4)
      - if failed_view?
        %th
          .flex.justify-center
            = render IconComponent.new(name: :failed, size: 4)
      - if @actions.any?
        %th.w-12
          - if finished_view? && finished_dowloads?
            = button_to remove_all_fininshed_downloads_path, method: :delete, title: "Remove all finished downloads", class: "text-bold text-red-500 m-2" do
              .flex.align-center
                = render IconComponent.new(name: :trash, size: 4)
  %tbody
    - @downloads.each do |download|
      = render DownloadComponent.new(download: download, status_views: @status_views, actions: @actions)
              
.flex.justify-end.p-2.pt-4
  = paginate @downloads