%tr.border-b.border-emerald-200.h-12
  %td
    .flex.justify-center.align-center
      .text-xl.text-bold.text-amber-500.flex(title="#{download_type_title}")
        - if @download.download_type == "youtube_video"
          .me-1
            = render IconComponent.new(name: :yt, size: 4)
          = render IconComponent.new(name: :film, size: 4)
        - elsif @download.download_type == "youtube_audio"
          .me-1
            = render IconComponent.new(name: :yt, size: 4)
          = render IconComponent.new(name: :audio, size: 4)
        - elsif @download.download_type == "youtube_subtitles"
          .me-1
            = render IconComponent.new(name: :yt, size: 4)
          = render IconComponent.new(name: :chat, size: 4)
        - elsif @download.download_type == "wget"
          = render IconComponent.new(name: :download, size: 4)
        - elsif @download.download_type == "released_dot_tv"
          .me-1
            = render IconComponent.new(name: :download, size: 4)
          = render IconComponent.new(name: :tv, size: 4)
        - elsif @download.download_type == "bittorrent"
          .me-1
            = render IconComponent.new(name: :users, size: 4)
          = render IconComponent.new(name: :arrows, size: 4)
        -# - else
        -#   = download_type
  %td
    .overflow-hidden.text-ellipsis.whitespace-nowrap(style="width: calc(100vw - 30rem)")
      = link_to @download.url, target: "_blank" do
        = @download.url
      - if failed_view?
        %br
        .text-xxs.text-red-400
          = @download.error_message
  - if queued_view?
    %td.text-xxs.font-thin(title="#{@download.created_at&.to_formatted_s(:timestamp_long)}")
      =@download.created_at.to_formatted_s(:timestamp)
  - if started_view?
    %td.text-xxs.font-thin(title="#{@download.started_at&.to_formatted_s(:timestamp_long)}")
      =@download.started_at&.to_formatted_s(:timestamp)
  - if finished_view?
    %td.text-xxs.font-thin(title="#{@download.finished_at&.to_formatted_s(:timestamp_long)}")
      =@download.finished_at&.to_formatted_s(:timestamp)
  - if cancelled_view?
    %td.text-xxs.font-thin(title="#{@download.cancelled_at&.to_formatted_s(:timestamp_long)}")
      =@download.cancelled_at&.to_formatted_s(:timestamp)
  - if failed_view?
    %td.text-xxs.font-thin(title="#{@download.failed_at&.to_formatted_s(:timestamp_long)}")
      =@download.failed_at&.to_formatted_s(:timestamp)
  - if @actions.any?
    %td
      .flex
        - if remove?
          = button_to download_path(@download), method: :delete, title: "Remove", class: "text-bold text-red-500 m-2" do
            .flex.align-center
              = render IconComponent.new(name: :trash, size: 4)
        - if queue?
          = button_to queued_downloads_path, params: { id: @download }, method: :post, title: "Queue again", class: "text-bold text-indigo-500 m-2" do
            .flex.align-center
              = render IconComponent.new(name: :queued, size: 4)