- content_for :title do
  Log in

.pt-2.mr-4.pr-4.log-in
  .subtitle.pt-3 Log in
    
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|
    .columns
      .column.is-one-third
        .field
          = form.label :email, class: "label"
          .control.has-icons-left
            = form.email_field :email, autofocus: true, autocomplete: "email", class: "input"
            %span.icon.is-small.is-left
              = fa_solid "envelope", size: 1

    .columns
      .column.is-one-third
        .field
          = form.label :password, class: "label"
          .control.has-icons-left
            = form.password_field :password, autocomplete: "current-password", class: "input"
            %span.icon.is-small.is-left
              = fa_solid "key", size: 1


    - if devise_mapping.rememberable?
      .columns
        .column.is-one-third
          .field
            .control
              = form.check_box :remember_me, class: "form-check-input"
              = form.label :remember_me, class: "form-check-label"

    .columns
      .column.is-one-third
        = form.submit "Log in", class: "button is-primary"
